# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python package

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12.3", "3.13", "3.14", "3.15"]
        checker: [
          "flake8 . --count --select=E9,F63,F7,F82 --ignore=F824 --show-source --statistics",
          "flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics",
          # "ty check backend",
          "mypy backend --config-file mypy.ini",
          "pytest",
        ]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}, ${{ matrix.checker }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest ty
        pip install -r requirements.txt
        ${{ matrix.checker }}
